Grid {
    border: white;
    background: darkblue;
    color: white
}

ListView {
    border: none;
    background: darkblue;
}

Checkbox {
    border: none;
    background: darkblue;
    color: white;
}

Input {
    border:none;
    background: navy;
    height:1;
    color:white;
}

ToggleButton {
    background: darkblue;    

    & > .toggle--button {
        color: white;
        background: darkblue;
    }
    &.-on > .toggle--button {
        color: gray;
        background: blue;
    }
}

#ntwk-config-grid {
    grid-size: 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    height: 100%;
    border: white;
}

#configurations, #devices-update {
    column-span: 1;
    height: 1fr;  
    overflow-y: auto;  /* Added overflow handling */
}

#devices-update {
    border: thick white;
    height: 1fr;  
}

#options {
    border-top: white;
    column-span: 2;
    height: 3;
    align: left middle;
}

#status-label {
    height: 3;
    width: 25;
}

#ip-field-container, #subnet-field-container, #gateway-field-container, #csv-field-container {
    margin-top: 1;
    height: auto;
    width: 1fr;
}

#ip-label, #subnet-label, #gateway-label, #batch-file-label {
    padding-bottom: 1;
    width:auto;
}

#ip-field, #subnet-mask-field, #gateway-field {
    background: darkblue;
    margin-left: 1;
    width: 50%;
}

#path-to-csv {
    height: auto;
    width: 50%;  
    margin-left: 1;
    min-width: 30; 
}

#actions-container {
    height: auto;
    width: 1fr;  
    margin-top: 2;
    min-width: 40;  /* minimum width for buttons */
}

#csv-field-container {
    width: 1fr; 
    margin-top: 1;
}

#upper-fields-container {
    width: 1fr;  
    height: auto;
}

#current-network-settings {
    height: auto;  
    min-height: 5;
    align: center bottom;
    margin-top: 2;  
}

#current-network-settings > * {
    width: auto;
}

#apply-button, #set-button, #run-button {
    border: white;
    margin: 0 1; 
}