Screen { /* always override previous screen structure */
    layout: vertical;
}

#list-container {
    align: center middle;
}

#opts-list {
    border: white;
    padding-top:3;
}

OptionList {
    width: 70%;
    height: 80%;
    border:none;
    background: darkblue;
    text-align: center;
}

#title {
    width: 100%;
    text-align: center;
    border: none;
}

#options-container {
    border-top: white;
    height: 3;
    align: left middle;
    margin-left: 1;
}

#status-label {
    width: 25;
    height: 3;
    content-align: left middle;
    margin: 0;
}

#info-label {
    height: 3;
    content-align: left middle;
    margin: 0;
}

#right-buttons {
    dock: right;
    width: auto;
    height: 3;
    margin-right: 2;
}

#help-button {
    margin: 0;
}

#about-button {
    margin: 0;
}

#options-container Button {
    height: 3;
    margin: 0;
}

Button {
    border: none;
    background: darkblue;
    color:white;
    text-align: center;
}